<!--suppress HtmlUnknownTarget -->
<div class="sidebar">
  <div class="container sidebar-sticky">
    <img alt="my face" src="/public/johanvo.jpg" style="border-radius: 50%">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% include sidebar_link.html url="" label="Home" %}
      {% include sidebar_link.html url="about-me" label="About me" %}
      {% include sidebar_link.html url="projects" label="Projects" %}
      <ul>
        {% for project in site.projects %}
        <li>
          <a class="sidebar-nav-item{% if page.url == project.url %} active{% endif %}" href="{{ project.url }}">{{ project.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% include sidebar_link.html url="contact" label="Contact" %}
      {% include sidebar_link.html url="credits" label="Credits" %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
